global:
  imagePullSecrets:
    - name: ghcr-cred
  provider: "akamai-lke"

frontend:
  service:
    type: LoadBalancer

qdrant:
  persistence:
    storageClassName: linode-block-storage

vllm:
  model: "Qwen/Qwen2.5-3B-Instruct"
  servedModelName: "rag-default"
  maxModelLen: "2048"
  gpuMemoryUtilization: "0.85"
  nodeSelector:
    accelerator: nvidia
  tolerations:
    - key: "nvidia.com/gpu"
      operator: "Exists"
      effect: "NoSchedule"
  resources:
    requests:
      cpu: "1"
      memory: "4Gi"
      nvidia.com/gpu: "1"
    limits:
      cpu: "2"
      memory: "8Gi"
      nvidia.com/gpu: "1"
