global:
  provider: "gcp-gke"

backend:
  image:
    repository: ghcr.io/jgdynamite10/rag-ray-backend
    tag: "0.3.10"

frontend:
  image:
    repository: ghcr.io/jgdynamite10/rag-ray-frontend
    tag: "0.3.5"
  service:
    type: LoadBalancer

kuberay:
  enabled: false
  worker:
    tolerations:
      - key: "nvidia.com/gpu"
        operator: "Exists"
        effect: "NoSchedule"

qdrant:
  persistence:
    storageClassName: standard-rwo

dcgm:
  service:
    enabled: true
    namespace: gke-managed-system
    port: 9400
    podSelector:
      app.kubernetes.io/name: gke-managed-dcgm-exporter
  serviceMonitor:
    enabled: true
    namespace: monitoring
    release: kube-prometheus-stack
    portName: metrics
    interval: "15s"
    targetNamespace: gke-managed-system
    selector:
      app: dcgm-exporter

vllm:
  model: "Qwen/Qwen2.5-3B-Instruct"
  servedModelName: "rag-default"
  maxModelLen: "2048"
  gpuMemoryUtilization: "0.85"
  nodeSelector:
    nvidia.com/gpu.present: "true"
  tolerations:
    - key: "nvidia.com/gpu"
      operator: "Exists"
      effect: "NoSchedule"
  resources:
    requests:
      cpu: "1"
      memory: "4Gi"
      nvidia.com/gpu: "1"
    limits:
      cpu: "2"
      memory: "8Gi"
      nvidia.com/gpu: "1"
