{{- if and .Values.monitoring .Values.monitoring.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: nvidia-dcgm-exporter
  namespace: {{ .Values.monitoring.namespace | default "monitoring" }}
  labels:
    release: prometheus
spec:
  endpoints:
  - port: gpu-metrics
    path: /metrics
    interval: 15s
  namespaceSelector:
    matchNames:
    - gpu-operator
  selector:
    matchLabels:
      app: nvidia-dcgm-exporter
{{- end }}
