# Akamai LKE defaults (dev-friendly)
cluster_label       = "rag-ray-haystack"
region              = "us-ord"
k8s_version          = "1.29"

cpu_node_type       = "g6-standard-2"
cpu_node_count      = 2
cpu_autoscaler_enabled = false
cpu_autoscaler_min  = 2
cpu_autoscaler_max  = 4

gpu_node_type       = "g6-gpu-rtx6000-1"
gpu_node_count      = 1
gpu_autoscaler_enabled = false
gpu_autoscaler_min  = 1
gpu_autoscaler_max  = 2
