backend:
  replicas: 2
frontend:
  replicas: 2
  service:
    type: LoadBalancer
qdrant:
  persistence:
    storageClassName: gp2
kuberay:
  worker:
    replicas: 2
vllm:
  nodeSelector:
    nvidia.com/gpu.present: "true"
  tolerations:
    - key: "nvidia.com/gpu"
      operator: "Exists"
      effect: "NoSchedule"
  resources:
    requests:
      cpu: "1"
      memory: "4Gi"
      nvidia.com/gpu: "1"
    limits:
      cpu: "2"
      memory: "8Gi"
      nvidia.com/gpu: "1"
